{% extends 'base.html.twig' %}

{% block title %}Hello CandidaturesController!{% endblock %}
    
{% block body %}
<div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Vos candidatures</h2>
                        <span class="white-text">Search and filter by job category</span>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section id="job-offers" class="section-padding gray-bg">
            <div class="container">
                <div class="text-center mb-40">
                    <h2 class="section-title">Mes candidatures</h2>
                    <p class="section-sub">just like our candidates, we offer quality, serious & reliable job offers.</p>
                </div>
                <div class="portfolio-container">
                    <ul>
                     {% for candidature in candidatures %}
                        <li>
                            <p> Votre nom : {{ candidature.candidate.firstName }}, votre prenom : {{ candidature.candidate.lastName }} catgories {{ candidature.offreEmploi.jobCategory }} Emploi {{ candidature.offreEmploi.jobTitle }} Type d'emploi {{ candidature.offreEmploi.jobType }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    </div>
                </div>
            </div>
        </section>

        <section class="cta-candidate bg-fixed bg-cover overlay dark-5 padding-top-70 padding-bottom-50">
            <div class="container">
                <div class="row">
                    <div class="valign-wrapper text-center">
                        <div class="hero-intro valign-cell">
                            <h2 class="tt-headline clip is-full-width no-margin">
                                <span>You are </span>
                                <span class="tt-words-wrapper">
                                    <b class="is-visible">Commercial</b>
                                    <b>Creative</b>
                                    <b>Marketing & PR</b>
                                    <b>Technology</b>
                                    <b>Fashion & luxury</b>
                                    <b>Retail sales</b>
                                </span>
                            </h2>
                            <h3 class="c-secondary mb-30 no-margin">Sign-up and apply for jobs now</h3>
                            <p class="white-text section-sub">Each one of your skills is seen as precious resource to us, each one of your personality traits are considered as an added on value. Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>

                            <a href="/register.html" class="btn border secondary waves-effect waves-light mt-40">Join us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
