<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Luxury Services recruitment & services
			{% endblock %}
			{% block meta %}
			{% endblock %}
			
		</title>

		
		{% block javascriptshaut %}{% endblock %}
	{% block stylesheet %}{% endblock %}
		<link href="/assets/css/main.css" rel="stylesheet">

		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.materialize.a1042cadda540464eafd9350bb40433a_1547807689.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.bootstrap.457005dcd8ab887d5f47791eaa1e3a26_1547807834.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.style.117d2669c8fdd6628dab9a45764bc512_1549289703.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.custom.6b4d49f73674949c14f1216c6eddcb85_1547807836.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.revolution-settings.77c694ef3fb511bf87c5b705b555fc2a_1547807825.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.revolution-layers.4f1e49eeb6f7351bbdc1fb6e35adb6ed_1547807826.css" rel="stylesheet">
		<link href="http://kys.idmkr.io/cache/assets/frontend.kys.revolution-navigation.2f4deeb1fe1d3f7c9ab31d29a1133835_1547807825.css" rel="stylesheet">



	</head>
	<body id="top">
		<header id="header" class="tt-nav transparent-header ">
			<div class="header-sticky semi-transparent">
				<div class="container">

					<div id="materialize-menu" class="menuzord">

						<a class="brand logo-brand" href="{{ path('app_home')}}"></a>
						<div id="mobile-menu">
							<div class="nav-wrapper" id="toggle">
								<span class="top"></span>
								<span class="middle"></span>
								<span class="bottom"></span>
							</div>
							<div class="icon-wrapper">
								<span class="account">
									<a href="/templates/auth/profile.html">
										<i class="material-icons">&#xE7FD;</i>
									</a>
								</span>
							</div>
							<div class="nav-overlay" id="overlay">
								<nav class="overlay-menu">
									<ul>
										<li>
											<a href="{{ path('app_home')}}">Home</a>
										</li>
										<li>
											<a href="">Jobs Offers</a>
										</li>
										<li>
											<a href="">About Us</a>
										</li>
										<li>
											<a href="">Contact</a>
										</li>
										<li>-</li>
										<li>
											<a href="/templates/auth/profile.html">Profile</a>
										</li>
										<li>
										
											<a href="/logout.html">Logout</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="menuzord-menu pull-right light" role="navigation">
								<li class=" dropdown">
									<a target="_self" href="{{ path('app_login')}}">
										<span>Login</span>
									</a>
								</li>
								<li class=" dropdown">
									<a target="_self" href="{{ path('app_register')}}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
										<span>Sign Up</span>
									</a>

								</li>
							</ul>
							<ul class="menuzord-menu pull-right light" role="navigation">
								<li class="active dropdown">
									<a target="_self" href="{{ path('app_home')}}">
										<i class=""></i>
										<span>Home</span>
									</a>
								</li>
								<li class=" dropdown">
									<a target="_self" href=" ">
										<i class=""></i>
										<span>Jobs offers</span>
									</a>
								</li>
								<li class=" dropdown">
									<a target="_self" href="">
										<i class=""></i>
										<span>About us</span>
									</a>
								</li>
								<li class=" dropdown">
									<a target="_self" href="">
										<i class=""></i>
										<span>Contact</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		{% block head %}{% endblock %}
		{% block body %}{% endblock %}
		<footer class="footer footer-four">
			<div class="primary-footer brand-bg text-center">
				<div class="container">

					<a href="#top" class="page-scroll btn-floating btn-large gradient secondary back-top waves-effect waves-light" data-section="#top">
						<i class="material-icons">&#xE316;</i>
					</a>

					<ul class="social-link tt-animate ltr mt-20">
						<li>
							<a href="#!" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#!" target="_blank">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>

					<hr class="mt-10">

					<div class="row">
						<div class="col-md-12">
							<div class="brand footer-brand"></div>

							<span class="copy-text">© 2019 All right reserved - by
								<a href="https://idmkr.io/" target="_blank">IDMKR</a>
								-
								<a href="#!">Terms of use</a>

							</span>
							<div class="footer-intro">
								<p>Luxury Services is a leading professional recruitment consultancy specialising in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.</p>
							</div>
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.primary-footer -->

			<div class="secondary-footer brand-bg darken-2 text-center">
				<div class="container">
					<ul class="" role="navigation">
						<li class="active dropdown">
							<a target="_self" href="/">
								<span>Home</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="/template/jobs/jobs.html">
								<span>Jobs offers</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="/templates/compagny.html">
								<span>About us</span>
							</a>
						</li>
						<li class=" dropdown">
							<a target="_self" href="/templates/contact.html">
								<span>Contact</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.container -->
			</div>
			<!-- /.secondary-footer -->
		</footer>
	{% block javascriptsbas %}{% endblock %}
	</body>
	
</html>
